<div class="container__big-card">
  <div class="big-card-foto">
    <img
    src="https://p2.trrsf.com/image/fget/cf/774/0/images.terra.com/2023/06/15/1344536499-the-flash-2.jpg"
    alt=""
    height="250px"
    width="400px"
    srcset="">
  </div>
  <a href="https://www.adorocinema.com/filmes/filme-59075/">
  <div class="big-card-title">
    <h1>The Flash</h1>
  </div>
</a>
  <div class="big-card-desc">
    <p>The Flash é o filme solo do herói estrelado pelo ator Ezra Miller. Todo mundo já pensou em voltar no tempo para mudar alguma coisa que incomodou a vida, é por isso que Flash decide fazer o mesmo. Depois dos eventos de Liga da Justiça...</p>
  </div>

</div>
