<header>
  <app-menu-bar></app-menu-bar>
</header>

<app-menu-title></app-menu-title>

<div class="articles">
  <div class="articles__main">
      <app-big-card
      phocoCover="https://p2.trrsf.com/image/fget/cf/774/0/images.terra.com/2023/06/15/1344536499-the-flash-2.jpg"
      cardTitle="The Flash"
      cardDescription="The Flash é o filme solo do herói estrelado pelo ator Ezra Miller. Todo mundo já pensou em voltar no tempo para mudar alguma coisa que incomodou a vida, é por isso que Flash decide fazer o mesmo. Depois dos eventos de Liga da Justiça...">
    </app-big-card>
  </div>

  <div class="articles__others">
      <app-small-card></app-small-card>
      <app-small-card></app-small-card>
      <app-small-card></app-small-card>
  </div>
</div>
