.container__menu-title
{
  color: aliceblue;
}


.container__menu-title > h1 {
  margin-top: 5px;
  margin-bottom: 5px;
  font-family: sans-serif;
  font-size: 120px;
  justify-content: center;
  text-align: center;
  display: flex;
}

.container__menu-title > hr
 {
  margin-top: 10px;
  margin-bottom: 10px;
 }
